:root{
    --prim-cl: #050850;
    --prim-stgr:#000222;
    --sec-cl: #F49F1C;
    --sec-stgr: #fbbd5f;
    --black:#000112;
    --white:#fff9f0;
    --ylw-shd: 0px 0px 10px var(--sec-cl);
    --ylw-shd-ltr: 0px 0px 7px var(--sec-cl);
}

body {
    background-image: url('/static/img/bg.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--prim-stgr);
    color: var(--white);
    box-shadow: var(--ylw-shd-ltr);
}

header nav{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}
header a{
    color: var(--white);
    transition: .5s;
    display: block;
    padding: 1rem;
}

.welcome-user{
    color: var(--white);
    transition: .5s;
    display: block;
    padding: 1rem;
}
header a:hover {
    color: var(--sec-cl);
}
header a:hover .icon-h{
    color: var(--sec-cl);
}
.icon-h{
    margin-right: 5px;
    color: var(--white);
    transition: .5s;
}

nav .nav-auth{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.user-is-auth{
    padding-left: 60px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.unlog-user{
    padding-left: 60px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: var(--prim-stgr);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: var(--ylw-shd-ltr);

}

.footer a{
    color: white;
    transition: .5s;
}
.footer a:hover{
    color: var(--prim-cl);
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: var(--white);
    flex-wrap: wrap;
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
}
.home-content .logout{
    margin-top: 20px;
    color: var(--black);
    transition: .5s;
}
.home-content .logout:hover{
    color: var(--sec-cl);
}


.home-title{
    text-align: center; 
    color: var(--black);
    padding-bottom: 20px;
}

.home-title h1{
    font-size: 35px;
}
.home-title h3{
    font-size: 20px;
}
.home-buttons{
    height: 50%;
    width: 60%;
    display: flex;
    padding: 5px;
}

.home-buttons .chat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 3px solid transparent;
    border-radius: 15px;
    transition: .3s;
    box-shadow: inset 0 0 1px 1px var(--black);
}
.chat-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}

.chat-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.chat-button span i{
    font-size: 60px;
}
.home-buttons .profile-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 3px solid transparent;
    border-radius: 15px;
    transition: .3s;
    box-shadow: inset 0 0 1px 1px var(--black);
}
.profile-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}

.profile-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.profile-button span i{
    font-size: 60px;
    margin-bottom: 10px;
}

.home-buttons .login-home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 3px solid transparent;
    border-radius: 15px;
    transition: .3s;
    box-shadow: inset 0 0 1px 1px var(--black);
}

.login-home-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}

.login-home-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.login-home-button span i{
    font-size: 60px;
}

.home-buttons .register-home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 3px solid transparent;
    border-radius: 15px;
    transition: .3s;
    box-shadow: inset 0 0 1px 1px var(--black);
}
.register-home-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}


.register-home-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.register-home-button span i{
    font-size: 60px;
    margin-bottom: 10px;
}

.chats{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats-content{
    width: 50%;
    height: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
}
.chats-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    
}
.chats-buttons {
    max-width: 800px;
    width: 100%;
    height: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    align-items: center;
    justify-items: center;
}



.chats-buttons button{
    color: var(--black);
    cursor: pointer;
    background: var(--sec-cl);
    padding: 15px;
    width: 110%;
    border-radius: 15px;
    border: 3px solid transparent;
    font-weight: bolder;
    box-shadow: inset 0 0 1px 1px var(--black);
    

}

.chats-buttons button:hover{
    background-color: var(--sec-stgr);
    border: 3px solid var(--prim-stgr);
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    transition: .5s;
}

.chats-buttons button span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.chats-buttons button span h1{
    font-size: 13px;
    margin-right: 25px;
    font-weight: bolder;
    text-transform: capitalize;
}
.chats-buttons button span p{
    font-size: 15px;
    
}

.chats-buttons i{
    margin-left: 5px;
    font-size: 15px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-pagination{
    margin-left: 5px;
    margin-right: 5px;
    color: var(--black);
    font-weight: bold;
}

.btn-pagination:hover{
    color:  var(--sec-cl);
    transition: .5s;

}


.chat_room{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat_room-content{
    background: var(--white);
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
}

.chat_room-title h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.chat_room-messages{
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: scroll;
    background: var(--white);
    border-radius: 5px;
    border: 3px solid var(--sec-cl);
    box-shadow: inset 0 0 1px 1px var(--black);
    
}

/* Personalização da barra de rolagem para navegadores WebKit (Chrome e Safari) */

  

.chat_room-messages::-webkit-scrollbar {
    width: 10px;
  }
  
  .chat_room-messages::-webkit-scrollbar-thumb {
    background-color: var(--sec-stgr);
    border-radius: 5px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  .chat_room-messages {
    scrollbar-width: thin;
    scrollbar-color: var(--sec-stgr); 
  }
  .chat_room-actions{
    width: 70%;
    padding-top: 3px;
    display: flex;
    outline: none;
    height: 7%;

}

.chat_room-actions input{
    width: 70%;
    background: var(--sec-cl);
    box-shadow: inset 0 0 1px 1px var(--black);
    border-radius: 5px;
    color: var(--black);
    font-weight: bolder;
    padding-left: 10px;
    outline: 0;
}
.chat_room-actions button{
    cursor: pointer;
    font-weight: bolder;
    width: 30%;
    background: var(--sec-cl);
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--black);
    font-size: 25px;
    box-shadow: inset 0 0 1px 1px var(--black);
}

.chat_room-actions button:hover{
    background-color: var(--sec-stgr);
    border: none;
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    border: 2px solid var(--black);
    transition: .5s;
}
.chat_room-balao-ele {
    background: var(--prim-stgr);
    align-self: flex-start;
    border-radius: 10px;
    position: relative;
    padding: 10px; 
    display: inline-block;
    max-width: 70%; 
    word-wrap: break-word; 
    margin: 5px;
    color: var(--white);
}

.chat_room-balao-ele::before {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--prim-stgr);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 4px;
    left: -18px;
}

.chat_room-balao-eu {
    background: var(--sec-cl);
    border-radius: 10px;
    position: relative;
    align-self: flex-end;
    padding: 10px; 
    display: inline-block;
    max-width: 70%; 
    word-wrap: break-word; 
    margin: 5px; 
    font-weight: bold;
}

.chat_room-balao-eu::before {
    content: '';
    position: absolute;
    border-left: 10px solid var(--sec-cl);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 4px;
    right: -18px;
}


.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-content{
    background: var(--white);
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
}
.login-content .login-fields{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.login-content form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}
.login-btn{
    font-size: 22px;
    color: var(--black);
    cursor: pointer;
    background: var(--sec-cl);
    padding: 15px;
    width: 80%;
    border-radius: 15px;
    border: 3px solid transparent;
    font-weight: bolder;
    box-shadow: inset 0 0 1px 1px var(--black);
    

}

.login-btn:hover{
    background-color: var(--sec-stgr);
    border: 3px solid var(--prim-stgr);
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    transition: .5s;
}

.single-input{
    width: 100%;
    margin: 15px 0;
    position: relative;
}

.single-input label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #969696;
    cursor: text;
    transition: 0.5s ease-in-out;
}

.single-input input{
    width: 100%;
    padding: 5px;
    color: #969696;
    border: 0;
    border-bottom: 2px solid var(--prim-stgr);
    outline: 0;
}


.single-input input:focus,
.single-input input:valid{
    border-bottom: 2px solid var(--sec-cl);
    transition: .1s;
}

.single-input input:focus ~ label,
.single-input input:valid ~ label{
    
    transform: translateY(-24px);
    font-size: 12px;
}

.register{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-content{
    background: var(--white);
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
}

.register-content .register-fields{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-btn{
    color: var(--black);
    cursor: pointer;
    background: var(--sec-cl);
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: 3px solid transparent;
    font-weight: bolder;
    box-shadow: inset 0 0 1px 1px var(--black);
    font-size: 22px;
    

}

.register-btn:hover{
    background-color: var(--sec-stgr);
    border: 3px solid var(--prim-stgr);
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    transition: .5s;
}

.logout-w{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout-content{
    background: var(--white);
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
}

.logout-content p{
    font-size: 20px;
}

.logout-title{
    font-size: 30px;
}


.messages-ul li{
    font-size: 13px;
    color: var(--black)
}
.errorlist li{
    font-size: 13px;
    color: red;
}

.profile{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-content{
    background: var(--white);
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
    position: relative;
}
.profile-pic img{
    width: 190px;
    height: 190px;
    position: absolute;
    left: 1%;
    top: 16%;
    border-radius: 50%;
    background: var(--sec-cl);
    padding: 3px;

}
.profile-banner img{
    width: 1000px;
    height: 200px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
}

.profile-user{
    position: absolute;
    top: 45%;
    left: 4.4%;
}
.profile-user h1{
    font-size: 30px;
}

.profile-infos{
    position: absolute;
    bottom: 4.5%;
    right: 2%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.profile-name{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.profile-desc{
    width: 40%;
}
.profile-name .profile-frst{
    margin-bottom: 20px;
}
.profile-name .profile-last{
    margin-bottom: 20px;
}


.prof-edit-btn{
    display: flex;
    font-weight: bolder;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 38%;
    right: 4%;
    padding: 10px;
    background: var(--sec-cl);
    border: 3px solid transparent;
    border-radius: 10px;
    transition: .3s;
    box-shadow: inset 0 0 1px 1px var(--black);
    

}

.prof-edit-btn i{
    margin-right: 10px;
}


.prof-edit-btn:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}
.profile-description{
    width: 110%;
    height: 200px;
    padding: 10px;
    background-color: var(--sec-stgr);
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
    overflow-y: scroll;
}

.profile-description::-webkit-scrollbar {
    width: 10px;
  }
  
.profile-description::-webkit-scrollbar-thumb {
    background-color: var(--sec-cl);
    border-radius: 5px;
  }
  .profile-description {
    scrollbar-width: thin;
    scrollbar-color: var(--sec-stgr); 
  }

  .profile-label{
    width: 78%;
    margin-bottom: 5px;
    padding-left: 3px;
    border-left: 2px solid var(--sec-cl);
    border-bottom: 3px solid var(--sec-cl);
    font-size: 16px;

  }

  .profile-desc .profile-label{
    width: 110%;
  }
  .profile-frst{
    width: 80%;
    padding: 2px;
    background: var(--sec-stgr);
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
    padding-left: 10px;
  }

  .profile-last{
    width: 90%;
    padding: 2px;
    background: var(--sec-stgr);
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
    padding-left: 10px;
    
    
  }

  .profile-email{
    width: 100%;
    padding: 2px;
    background: var(--sec-stgr);
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
    padding-left: 10px;
    
  }

  .profile-email .profile-label{
    width: 90%;
  }


  .edit{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .edit-content{
    background: var(--white);
    width: 55%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
    box-shadow: inset 0 0 1px 1px var(--black);
  }
  .edit-content form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .edit-content form button{
        width: 20%;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
        padding: 10px;
        background: var(--sec-cl);
        border: 3px solid transparent;
        border-radius: 10px;
        transition: .3s;
        box-shadow: inset 0 0 1px 1px var(--black);
  }

  .edit-content form button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}
  .edit-content form h1{
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .form-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
  }
  .form-group1{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .form-group2{
    width: 30%;
    display: flex;
    flex-direction: column;

  }

  .form-group2 textarea{
    padding: 10px;
    background-color: var(--sec-stgr);
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
    font-size: 15px;
    width: 90%;
    height: 80%;
    max-height: 70%;
    min-height: 60%;
    min-width: 80%;
    max-width: 85%;
    border: 0;
    outline: none;
    border-left: 3px solid var(--sec-cl);
    border-bottom: 3px solid var(--sec-cl);
    padding: 10px;

  }

  .form-group2 textarea::-webkit-scrollbar {
    width: 10px;
  }
  
  .form-group2 textarea::-webkit-scrollbar-thumb {
    background-color: var(--sec-cl);
    border-radius: 5px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  .form-group2 textarea {
    scrollbar-width: thin;
    scrollbar-color: var(--sec-cl); 
  }



  .form-group3{
    font-size: 13px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 30px;
  }
  .form-group3 .perfil{
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border: 2px solid var(--sec-cl);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
  }
  .form-group3 .capa{
    display: flex;
    padding: 10px;
    border: 2px solid var(--sec-cl);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
  }

  .form-group3 a{
    font-size: 8px;
    color: var(--black);
  }

  .form-group3 label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilize o input de imagem */
.form-group3 input[type="file"] {
    margin-bottom: 10px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: var(--sec-cl);
    font-weight: bold;
}


  .form-single-input{
    width: 80%;
    margin: 15px 0;
    position: relative;
}

.form-single-input label{
    font-size: 16px;
    position: absolute;
    left: 2%;
    bottom: 1%;
    color: var(--black);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.form-single-input input{
    width: 80%;
    padding: 5px;
    color: var(--black);
    border: 0;
    border-bottom: 2px solid var(--prim-stgr);
    background: var(--sec-stgr);
    outline: 0;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
}

.form-single-input input:focus,
.form-single-input input:valid{
    border-bottom: 2px solid var(--sec-cl);
    transition: .1s;
}

.form-single-input input:focus ~ label,
.form-single-input input:valid ~ label{
    transform: translateY(-49px);
    font-size: 12px;
}




.form-input-email{
    width: 80%;
    margin: 15px 0;
    position: relative;
}

.form-input-email label{
    font-size: 16px;
    position: absolute;
    left: 2%;
    bottom: 1%;
    color: var(--black);
    cursor: text;
    transition: 0.5s ease-in-out;
    padding-left: 10px;
    padding-bottom: 10px;
}

.form-input-email input{
    width: 80%;
    padding: 5px;
    color: var(--black);
    border: 0;
    border-bottom: 2px solid var(--prim-stgr);
    background: var(--sec-stgr);
    outline: 0;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 1px 1px var(--black);
}

.form-input-email input:focus,
.form-input-email input:valid{
    border-bottom: 2px solid var(--sec-cl);
    transition: .1s;
}

.form-input-email input:focus ~ label,
.form-input-email input:valid ~ label{
    transform: translateY(-49px);
    font-size: 12px;
    padding-left: 0px;
    padding-bottom: 0px;
}




.label-menu{
    display: none;
}


.checkbox{
    display: none;
}

@media (max-width: 849px) {
    .site-title{
        font-size: 20px;
    }
    .user-is-auth,
    .unlog-user{
        display: block;
        position: absolute;
        left: 0;
        top: 3.8125rem;
        text-align: center;
        background: var(--prim-stgr);
        width: 100%;
        height: 0;
        z-index: 1;
        margin-left: 0;
        padding-left: 0;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .user-is-auth a,
    .unlog-user a{
        padding: 1rem 0;
        border-bottom: 0.0625rem solid var(--sec-stgr);
    }
    .label-menu{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--white);
        padding-block: 1rem;
        cursor: pointer;
        font-size: 15px;
        font-weight: bolder;
    }
    .hamburguer{
        border-top: 0.125rem solid;
    }
    .hamburguer::before,
    .hamburguer::after{
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transform: 0.3s;
    }
    .checkbox:checked ~ .nav-auth .user-is-auth{
        visibility: visible;
        height: calc(100vh - 4.0625rem);
        overflow-y: auto;
    }
    .checkbox:checked ~ .nav-auth .unlog-user{
        visibility: visible;
        height: calc(100vh - 4.0625rem);
        overflow-y: auto;
    }
    .checkbox:checked ~ .label-menu .hamburguer{
        border-top-color: transparent;
    }
    .checkbox:checked ~ .label-menu .hamburguer::before{
        transform: rotate(135deg);
    }
    .checkbox:checked ~ .label-menu .hamburguer::after{
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    /*Aqui começa a estilização da home para dispositivo mobile*/

    .home-content{
        width: 90%;
        height: 60%;
    }
    .home-buttons{
        height: 40%;
        width: 90%;
        padding: 2px;
    }
    .home-buttons .profile-button{
        margin-left: 15px;
    }
    .home-buttons .chat-button{
        margin-right: 15px;
    }

    .home-buttons .login-home-button{
        margin-right: 15px;
    }
    .home-buttons .register-home-button{
        margin-right: 0px;
    }

    .profile-button button{
        width: 40%;
    }
    .profile-button span i{
        font-size: 40px;
    }

    .login-home-button button{
        width: 40%;
    }
    .login-home-button span i{
        font-size: 40px;
    }
    .register-home-button button{
        width: 40%;
    }
    .register-home-button span i{
        font-size: 40px;
    }

    .chat-button button{
        width: 40%;
    }
    .chat-button span i{
        font-size: 40px;
    }
    .logout{
        font-size: 20px;
    }

    /*Aqui começa a estilização do login/register para dispositivo mobile*/

    .login-content{
        width: 80%;
        height: 40%;
    }
    .register-content{
        width: 80%;
        height: 50%;
    }
    .logout-content{
        width: 90%;
        height: 60%;
        text-align: center;
    }
}