:root{
    --prim-cl: #050850;
    --prim-stgr:#000228;
    --sec-cl: #F49F1C;
    --sec-stgr: #ffce84;
    --black:#000112;
    --white:#fff9f0;
}

body {
    background-image: url('/static/img/bg.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}

header nav{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}
header a{
    color: var(--white);
}

nav .nav-auth{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.user-is-auth{
    padding-left: 60px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.footer a{
    color: white;
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: var(--black);
    flex-wrap: wrap;
}

.home-title{
    color: var(--white);
    font-size: 40px;
}

.home-buttons{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
}

.home-buttons .chat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    height: 100%;
    width: 50%;
    background-color: var(--prim-cl);
}
.home-buttons .profile-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
    width: 50%;
    background-color: var(--prim-stgr);
}