:root{
    --prim-cl: #050850;
    --prim-stgr:#000222;
    --sec-cl: #F49F1C;
    --sec-stgr: #fbbd5f;
    --black:#000112;
    --white:#fff9f0;
    --ylw-shd: 0px 0px 10px var(--sec-cl);
    --ylw-shd-ltr: 0px 0px 7px var(--sec-cl);
}

body {
    background-image: url('/static/img/bg.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--prim-stgr);
    color: var(--white);
    box-shadow: var(--ylw-shd-ltr);
}

header nav{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}
header a{
    color: var(--white);
    transition: .5s;
}
header a:hover {
    color: var(--sec-cl);
}
header a:hover .icon-h{
    color: var(--sec-cl);
}
.icon-h{
    margin-right: 5px;
    color: var(--white);
    transition: .5s;
}

nav .nav-auth{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.user-is-auth{
    padding-left: 60px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: var(--prim-stgr);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: var(--ylw-shd-ltr);

}

.footer a{
    color: white;
    transition: .5s;
}
.footer a:hover{
    color: var(--prim-cl);
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: var(--white);
    flex-wrap: wrap;
    border: 3px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd);
}
.home-content .logout{
    margin-top: 20px;
    color: var(--black);
    transition: .5s;
}
.home-content .logout:hover{
    color: var(--sec-cl);
}


.home-title{
    text-align: center; 
    color: var(--black);
    padding-bottom: 20px;
}

.home-title h1{
    font-size: 35px;
}
.home-title h3{
    font-size: 20px;
}
.home-buttons{
    height: 50%;
    width: 60%;
    display: flex;
    padding: 5px;
}

.home-buttons .chat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 1px solid var(--prim-stgr);
    border-radius: 15px;
    transition: .3s;
}
.chat-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}

.chat-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.chat-button span i{
    font-size: 60px;
}
.home-buttons .profile-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 1px solid var(--prim-stgr);
    border-radius: 15px;
    transition: .3s;
}
.profile-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}

.profile-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.profile-button span i{
    font-size: 60px;
    margin-bottom: 10px;
}

.home-buttons .login-home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 1px solid var(--prim-stgr);
    border-radius: 15px;
    transition: .3s;
}

.login-home-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}

.login-home-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.login-home-button span i{
    font-size: 60px;
}

.home-buttons .register-home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    width: 50%;
    background-color: var(--sec-cl);
    border: 1px solid var(--prim-stgr);
    border-radius: 15px;
    transition: .3s;
}
.register-home-button:hover{
    background-color: var(--sec-stgr);
    cursor: pointer;
    border: 3px solid var(--prim-stgr);
}


.register-home-button span{
    text-align: center;
    color: var(--black);
    font-weight: bold;
}
.register-home-button span i{
    font-size: 60px;
    margin-bottom: 10px;
}

.chats{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats-content{
    width: 50%;
    height: 50%;
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    border: 1px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd-ltr);
}
.chats-title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    
}
.chats-buttons {
    max-width: 800px;
    width: 100%;
    height: 100%;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    align-items: center;
    justify-items: center;
}



.chats-buttons button{
    color: var(--white);
    cursor: pointer;
    background: var(--prim-stgr);
    padding: 20px;
    width: 110%;
    border-radius: 15px;
    border: 1px solid var(--sec-cl);
    

}

.chats-buttons button:hover{
    background-color: var(--black);
    border: none;
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    transition: .5s;
}

.chats-buttons button span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.chats-buttons button span h1{
    font-size: 16px;
    margin-right: 25px;
    font-weight: bolder;
    text-transform: capitalize;
}
.chats-buttons button span p{
    font-size: 11px;
    
}

.chats-buttons i{
    margin-left: 5px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-pagination{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background: var(--prim-stgr);
    color: var(--white);
    border: 1px solid var(--sec-cl);
    border-radius: 7px;
}

.btn-pagination:hover{
    background-color: var(--black);
    border: none;
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    transition: .5s;
}


.chat_room{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat_room-content{
    background: var(--black);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    border: 1px solid var(--sec-cl);
    border-radius: 15px;
    box-shadow: var(--ylw-shd-ltr);

}

.chat_room-title h1{
    font-size: 30px;
}

.chat_room-messages{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: scroll;
    background: var(--prim-stgr);
    border-radius: 5px;
    
}

/* Personalização da barra de rolagem para navegadores WebKit (Chrome e Safari) */

  
.chat_room-actions{
    width: 50%;
    padding-top: 15px;
    display: flex;
    outline: none;
    height: 15%;

}
.chat_room-messages::-webkit-scrollbar {
    width: 10px;
  }
  
  .chat_room-messages::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 5px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  .chat_room-messages {
    scrollbar-width: thin;
    scrollbar-color: var(--white); 
  }


.chat_room-actions input{
    width: 70%;
    background: var(--prim-stgr);
    border: 1px solid var(--sec-cl);
    border-radius: 5px;
    color: var(--white);
    font-weight: bolder;
}
.chat_room-actions button{
    cursor: pointer;
    font-weight: bolder;
    width: 30%;
    background: var(--prim-stgr);
    border: 1px solid var(--sec-cl);
    border-radius: 5px;
    color: var(--white);
    font-size: 25px;
}

.chat_room-actions button:hover{
    background-color: var(--black);
    border: none;
    cursor: pointer;
    box-shadow: var(--ylw-shd-ltr);
    transition: .5s;
}
.chat_room-balao-ele {
    background: var(--sec-cl);
    border-radius: 10px;
    position: relative;
    padding: 10px; 
    display: inline-block;
    max-width: 70%; 
    word-wrap: break-word; 
    margin: 5px; 
}

.chat_room-balao-ele::before {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--sec-cl);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 4px;
    left: -18px;
}

.chat_room-balao-eu {
    background: var(--prim-cl);
    border-radius: 10px;
    position: relative;
    align-self: flex-end;
    padding: 10px; 
    display: inline-block;
    max-width: 70%; 
    word-wrap: break-word; 
    margin: 5px; 
}

.chat_room-balao-eu::before {
    content: '';
    position: absolute;
    border-left: 10px solid var(--prim-cl);
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 4px;
    right: -18px;
}
