{% extends "base.html" %}
{% load static %}
{% block title %}{{request.user}}(edit){% endblock %}

{% block content %}
<section class="edit">
    <div class="edit-content">
        
        <form method="post" enctype="multipart/form-data">
            <h1>Edit Profile</h1>
            {% csrf_token %}
            <div class="form-content">

                <div class="form-group1">

                    <div class="form-single-input">
                        {{ form.first_name }}
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                    </div>
                    
                    
                    <div class="form-single-input">
                        {{ form.last_name }}
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                    </div>
                    
                    <div class="form-single-input">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">Email</label>
                    </div>
                    
    
                </div>
        
    
                <div class="form-group2">
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    {{ form.description }}
                </div>
    
                <div class="form-group3">
    
                    <label for="{{ form.photo.id_for_label }}">Profile Photo:</label>
                    {{ form.photo }}
    
                    <label for="{{ form.banner.id_for_label }}">Banner Image:</label>
                    {{ form.banner }}
    
                </div>

            </div>

    
            <button type="submit">Salvar</button>

            {% if messages %}
        <div class="messages">
            <ul class="messages-ul">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        </form>
    </div>
    
</section>
{% endblock %}
