{% extends "base.html" %}
{% load static %}
{% block title %}{{request.user}}{% endblock %}

{% block content %}
<section class="profile">
    <div class="profile-content">
        <div class="profile-banner">
            {% if user_profile.banner %}

                <img src="{{ user_profile.banner.url }}" alt="banner">
            {% else %}

                <img src="{% static 'img/banner.png' %}" alt="Default Banner">
            {% endif %}
            
        </div>
        <div class="profile-pic">
            {% if user_profile.photo %}

                <img src="{{ user_profile.photo.url }}" alt="photo profile">

            {% else %}

                <img src="{% static 'img/profile.png' %}" alt="Default Profile Photo">
                
            {% endif %}
        </div>
        <div class="profile-user">
            <h1>
                {{user_profile.user.username}}
            </h1>
            
        </div>
    

            <button class="prof-edit-btn" onclick="window.location.href = '{% url 'edit_user_profile' %}'">
                <i class="fa-solid fa-pen"></i>
                <p>Edit profile</p>
            </button>

        <div class="profile-infos">
            <div class="profile-name">
                <div class="profile-label">
                    Nome
                </div>
                <div class="profile-frst">
                    <h3>
                    {% if user_profile.first_name %}
                        {{ user_profile.first_name }}
                    {% else %}
                        Seu nome
                    {% endif %}
                    </h3>
                    
                </div>
                <div class="profile-label">
                    Sobrenome
                </div>
                <div class="profile-last">
                    <h3>
                    {% if user_profile.last_name %}
                        {{ user_profile.last_name }}
                    {% else %}
                        Seu sobrenome
                    {% endif %}
                    </h3>
                    
                </div>
                <div class="profile-label">
                    E-mail
                </div>
                <div class="profile-email">
                    <h3>
                    {% if user_profile.email %}
                        {{ user_profile.email }}
                    {% else %}
                        Seu E-mail
                    {% endif %}
                    </h3>
                    
                </div>
            </div>
            
            <div class="profile-desc">
                <div class="profile-label">
                    Descrição
                </div>
                <div class="profile-description">
                    <h3>
                    {% if user_profile.description %}
                        {{ user_profile.description }}
                    {% else %}
                        Nenhuma descrição disponível
                    {% endif %}
                    </h3>
                    
                </div>
            </div>
            

        </div>

    </div>

</section>

{% endblock %}