{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <title>MaricáChat - {% block title %}{% endblock %}</title>
        <link rel="stylesheet"  href="{% static 'css/reset.css' %}">
        <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url 'home' %}">MaricáChat</a></h1>
            <nav>
                <h3>
                    <a href="{% url 'home' %}">Home</a>
                </h3>
        
                <h3>
                    <a href="{% url 'rooms' %}">Rooms</a>
                </h3>
        
                <div class="nav-auth">
                    {% if user.is_authenticated %}
                        <!-- Se o usuário estiver logado, mostre a opção de logout -->
                        <div class="user-is-auth">
                            <h3>
                                User  :  {{user.username}}
                            </h3>
    
                            <h3>
                                <a href="{% url 'logout' %}">Logout</a>
                            </h3>
                        </div>
                        
                       
                    {% else %}
                        <!-- Se o usuário não estiver logado, mostre as opções de login e registro -->
                        <h3>
                            <a href="{% url 'login' %}">Login</a>
                        </h3>
                        
                        <h3>
                            <a href="{% url 'register' %}">Register</a>
                        </h3>
                        
                    {% endif %}
                </div>
            </nav>
        </header>
        
    
        <section class="main-sect">
            {% block content %}{% endblock %}
        </section>
    
        <footer class="footer">
            <p><a href="https://github.com/reis567" target="_blank">Reis567</a> &copy; {{ year }}.</p>
        </footer>
    </body>
    </html>
    
