{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">    <meta charset="UTF-8">
        <title>MaricáChat - {% block title %}{% endblock %}</title>
        <link rel="stylesheet"  href="{% static 'css/reset.css' %}">
        <link rel="stylesheet"  href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/127269bf17.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url 'home' %}">
                    MaricáChat
                </a>
            </h1>

            <nav>
                <input type="checkbox" name="checkbox" id="checkbox" class="checkbox">
                
                <label for="checkbox" class="label-menu">
                    Menu
                    <span class="hamburguer"></span>
                </label>
                
        
                <div class="nav-auth">
                    {% if user.is_authenticated %}
                        <!-- Se o usuário estiver logado, mostre a opção de logout -->
                        <div class="user-is-auth">
                            <h3>
                                <a href="{% url 'home' %}">
                                    <i class="icon-h fa-solid fa-house"></i>  Início</a>
                            </h3>
                    
                            <h3>
                                <a href="{% url 'rooms' %}">
                                    <i class="icon-h fa-solid fa-comment"></i>  Chats</a>
                            </h3>
                            <h3>
                                <a href="{% url 'user_profile' %}">
                                    <i class="icon-h fa-solid fa-user"></i> 
                                    {{user.username}}
                                </a>
                                
                            </h3>
    
                            <h3>
                                <a href="{% url 'logout' %}">
                                 <i class="icon-h fa-solid fa-right-from-bracket"></i>  Sair</a>
                            </h3>
                        </div>
                        
                       
                    {% else %}
                        <div class="unlog-user">
                            <h3 class="welcome-user">
                                Bem vindo(a)
                            </h3>
                            <h3>
                                <a href="{% url 'login' %}">
                                    <i class="icon-h fa-solid fa-door-open"></i> 
                                     Login</a>
                            </h3>
                            
                            <h3>
                                <a href="{% url 'register' %}">
                                    <i class="icon-h fa-solid fa-ghost"></i>  Criar conta</a>
                            </h3>
                        </div>
                        
                        
                    {% endif %}
                </div>
            </nav>
        </header>
        
    
            {% block content %}{% endblock %}
    
        <footer class="footer">
            <p><a href="https://github.com/reis567" target="_blank">Reis567</a> &copy; {{ year }}.</p>
        </footer>
    </body>
    </html>
    
