{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet"  href="{% static 'css/reset.css' %}">
        <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <h1>MaricáChat</h1>
            <nav>
                
            </nav>
        </header>
    
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    
        <footer>
            <p><a href="https://github.com/reis567" target="_blank">Reis567</a> &copy; {{ year }}.</p>
        </footer>
    </body>
    </html>
    
