{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="home">
    <div class="home-content">
        <div class="home-title">
            {% if user.is_authenticated %}

                <h1>Bem vindo(a) {{request.user.username}}</h1>
                <h3>O que deseja fazer? </h3>

            {% else %}

                <h1>Bem vindo(a)</h1>
                <h3>O que deseja fazer? </h3>

            {% endif %}
        </div>
        <div class="home-buttons">

            {% if user.is_authenticated %}

                <button onclick="window.location.href = {% url 'rooms' %}" class="chat-button">

                    <span>
                        <i class="fa-solid fa-comment"></i>
                        <br>
                        Chats
                    </span>
                        

                </button>

                <button onclick="window.location.href = {% url 'user_profile' %}" class="profile-button">

                    <span>
                        <i class="fa-solid fa-user"></i>
                        <br>
                        Meu perfil
                    </span>

                </button>
            {% else %}

                <button onclick="window.location.href = {% url 'login' %}" class="login-home-button">

                    <span>
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <br>
                        Login
                    </span>

                </button>

                <button  onclick="window.location.href = {% url 'register' %}" class="register-home-button">

                    <span>
                        <i class="fa-solid fa-ghost"></i>
                        <br>
                        Criar conta
                    </span>

                </button>
            {% endif %}
            
            

        </div>
        {% if user.is_authenticated %}

                <a class="logout" href="{% url 'logout' %}">
                    
                    <i class="fa-solid fa-right-from-bracket"></i>

                    Logout
                </a>

        {% endif %}
    </div>
</section>

{% endblock %}