{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="home">
    <div class="home-content">
        <div class="home-title">
            <h1>Bem vindo {{request.user.username}}</h1>
            <h3>O que deseja fazer? </h3>
        </div>
        <div class="home-buttons">

            <div class="chat-button">

                <a href="{% url 'rooms' %}">
                    <i class="fa-solid fa-comment"></i>
                    <br>
                    Ver chats</a>

            </div>

            <div class="profile-button">

                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <br>
                    Meu perfil</a>

            </div>
            
            

        </div>
        <a class="logout" href="{% url 'logout' %}">Logout</a>

    </div>
</section>

{% endblock %}