{% extends "base.html" %}

{% block title %}{{request.user}}{% endblock %}

{% block content %}
<section class="profile">
    <div class="profile-content">
        <div class="profile-banner">

        </div>
        <div class="profile-pic">

        </div>
        <div class="profile-user">

        </div>
        <div class="profile-infos">
            <div class="profile-name">
                <div class="profile-frst">

                </div>
                <div class="profile-last">

                </div>
            </div>
            <div class="profile-desc">

            </div>

        </div>

    </div>

</section>

{% endblock %}