{% extends "base.html" %}

{% block title %}Chats{% endblock %}

{% block content %}

<section class="chats">

    <div class="chats-content">

        <div class="chats-title">
            <h1>Salas Disponíveis</h1>
        </div>

        <div class="chats-buttons">
            
            {% if user.is_authenticated %}

                    {% for room in rooms %}

                        <button onclick="window.location.href = '{% url 'room' room.slug %}'" class="chats-button">
                            <span>
                                <h1>{{ room.name }}</h1>
                                <p>9999<i class="fa-solid fa-user"></i></p>
                            </span>
                        </button>
                    
                            
                    {% endfor %}

            {% else %}

                <p>
                    Você precisa estar logado para acessar as salas. 

                    <a href="{% url 'login' %}">

                        Faça login aqui

                    </a>.
                </p>

            {% endif %}
        </div>

        <p>Futuramente Pagination aqui</p>
    </div>

</section>
{% endblock %}