{% extends "base.html" %}

{% block title %}Chats{% endblock %}

{% block content %}

<section class="chats">

    <div class="chats-content">

        <div class="chats-title">
            <h1>Salas Disponíveis</h1>
        </div>

        <div class="chats-buttons">
            
            {% if user.is_authenticated %}

                    {% for room in rooms %}

                        <button onclick="window.location.href = '{% url 'room' room.slug %}'" class="chats-button">
                            <span>
                                <h1>{{ room.name }}</h1>
                                <p>9999<i class="fa-solid fa-user"></i></p>
                            </span>
                        </button>
                    
                            
                    {% endfor %}

            {% else %}

                <p>
                    Você precisa estar logado para acessar as salas. 

                    <a href="{% url 'login' %}">

                        Faça login aqui

                    </a>.
                </p>

            {% endif %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if rooms.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ rooms.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current-page">
                    Página {{ rooms.number }} de {{ rooms.paginator.num_pages }}.
                </span>
        
                {% if rooms.has_next %}
                    <a href="?page={{ rooms.next_page_number }}">next</a>
                    <a href="?page={{ rooms.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</section>
{% endblock %}