{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="login">
    <div class="login-content">
        <div class="login-title">
            <h1>
                Login
            </h1>
        </div>
        <div class="login-fields">
            <form method="post">
                {% csrf_token %}
        
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" required>
        
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" required>
        
        
                <input type="submit" value="Login">
            </form>
        </div>
        <input type="submit" value="Login">
    </div>
</section>

{% endblock %}