{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="login">
    <div class="login-content">
        <div class="login-title">
            <h1>
                Login
            </h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="login-fields">
                
                <div class="single-input">
                    <input class="input-user" type="text" name="username" id="id_username" required autocomplete="off">
                    <label for="id_username">Username</label>
                </div>
                
        
                <div class="single-input">
                    <input class="input-pass" type="password" name="password" id="id_password" required autocomplete="off">
                    <label for="id_password">Password</label>
                </div>

            </div>
    
            <input class="login-btn" type="submit" value="Entrar">
        </form>
    </div>
</section>


{% endblock %}