{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
<section class="logout-w">
    <div class="logout-content">

        <div class="logout-title">
            <h1>
                Logout
            </h1>
        </div>

        <p>Você saiu com sucesso. Obrigado por usar nosso site.</p>
        <p>Estamos te redirecionando para a <strong>Página inicial</strong></p>

        <script>
            setTimeout(function() {
                window.location.href = "{% url 'home' %}";  // Redireciona para a página inicial
            }, 2000);  // 2000 milissegundos = 2 segundos
        </script>
    </div>
</section>
{% endblock %}
