{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}

<section class="register">
    <div class="register-content">
        <div class="register-title">
            <h1>
                Registro
            </h1>
        </div>
    
        <form method="post">
            {% csrf_token %}
    
            <div class="register-fields">
    
                <div class="single-input">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Nome de usuário</label>
                    
                </div>
                
    
                <div class="single-input">
                    {{ form.password1 }}
                    <label for="{{ form.password1.id_for_label }}">Senha</label>
                    
                </div>
                
    
    
                <div class="single-input">
                    {{ form.password2 }}
                    <label for="{{ form.password2.id_for_label }}">Confirme a senha</label>
                    
                </div>
                
    
            </div>
    
            <button class="register-btn" type="submit">Criar</button>
        </form>
    </div>

</section>

{% endblock %}
