{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
    <h2>Registro</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nome de usuário:</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Endereço de e-mail:</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Senha:</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirme a senha:</label>
            {{ form.password2 }}
        </div>

        <button type="submit">Registrar</button>
    </form>
{% endblock %}
